* {
    margin: 0;
    padding: 0;
}

p {
    color: #fff;
}

body {
    width: 100%;
    background-image: url("image/spiration%20dark.png")
}

#tabcontrol {
    width: 100%;
    background-color: rgb(1, 10, 22);
    padding: 20px;
    display: flex;
    overflow: hidden;
    
}

#tabcontrol a {
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    color: rgba(255,255,255,0.6);
    font-family: "Klee-Medium";
    margin-left: 25px;
    
}

#tabcontrol a:hover {
    color: rgba(255,255,255,1);
    transition:0.5s;
}

#tabcontrol li {
    list-style: none;
}


#tabcontrol li a {
    padding: 5px 10px;
    display: block;
}


#tabcontrol li ul {
    display: none;
    position: absolute;
    background-color: rgba(1, 10, 22,0.6);
}

#tabbody {
    width: 100%;
    margin: 0 auto;
}

#member img {
    float: left;
}

.newt {
    overflow: hidden;
    margin: 20px;
}

#member p {
    font-size: 15px;
    font-family: "Klee-Medium";
    padding: 20px;
}

.newt a {
    color: #000;
    text-decoration: none;

}

.tina {
    overflow: hidden;
    margin: 20px;
}

.queenie {
    overflow: hidden;
    margin: 20px;
}

.jacob {
    overflow: hidden;
    margin: 20px;
}

.space {
    height: 250px;
}

.name {
    margin-left: 20px;
}

.tag_wand1 {
    margin-left: 50px;
    position: relative;
    width: 400px;
    display: inline;
}

.tag_wand1 p {
    color: #000;
    width: 240px;
    position: absolute;
    top: -160px;
    left: 30px;
    font-size: 15px;
}

.tag_wand2 {
    margin-left: 50px;
    position: relative;
    width: 400px;
    display: inline;
}

.tag_wand2 p {
    color: #000;
    width: 240px;
    position: absolute;
    top: -120px;
    left: 30px;
    font-size: 15px;
}

.tag_wand3 {
    margin-left: 50px;
    position: relative;
    width: 400px;
    display: inline;
}

.tag_wand3 p {
    color: #000;
    width: 240px;
    position: absolute;
    top: -120px;
    left: 30px;
    font-size: 15px;
}

#wand h1 {
    font-size: 20px;
    
    color: #fff;
}

#wand {
    width: 80%;
    margin:30px auto;
    display: block;
    font-family: "Klee-Medium";
}

.wand_newt {
    margin-bottom: 100px;
}

.wand_tina {
    margin-bottom: 100px;
}

.wand_queenie {
    margin-bottom: 100px;
}

.costume_newt {
    position: absolute;
    top: 18%;
    left: 75%;
    height: 100%;
    width: 20%;
    color: #fff;

    /*    display: none;*/
}

#costume p {
    font-size: 1.2vw;
    overflow: scroll;
    height: 24%;
/*    background-color: #fff;*/
}

#costume h1 {
    font-size: 1.6vw;
}

.costume_tina {
    position: absolute;
    top: 18%;
    left: 75%;
    height: 100%;
    width: 20%;
    color: #fff;
    display: none;
}

.costume_queenie {
    position: absolute;
    top: 18%;
    left: 75%;
    height: 100%;
    width: 20%;
    color: #fff;
    display: none;
}

.costume_jacob {
    position: absolute;
    top: 18%;
    left: 75%;
    height: 100%;
    width: 20%;
    color: #fff;
    display: none;
}

/*.gazou {
    position: relative;
}*/

#costume{
    position: relative;
}

.cos_newt_btn {
    position: absolute;
    height: 76%;
    width: 14%;
/*    background-color: rgba(0, 0, 0, 0.5);*/
    top: 13%;
    left: 35%;
}

.cos_tina_btn {
    position: absolute;
    width: 10%;
    height: 70%;
/*        background-color: rgba(0,0,0,0.5);*/
    top: 17%;
    left: 19%;
}

.cos_queenie_btn {
    position: absolute;
    width: 8.5%;
    height: 55%;
/*        background-color: rgba(0,0,0,0.5);*/
    top: 25%;
    left: 53.5%;
}

.cos_jacob_btn {
    position: absolute;
    width: 7%;
    height: 50%;
/*        background-color: rgba(0,0,0,0.5);*/
    top: 28.5%;
    left: 63%;
}




.ab {
    position: absolute;
    top: 8%;
    right: 2%;
}

.imadoko{
  position: fixed;
  top: 0;
  right: 20px;
  font-weight: bold;
    opacity: 0;
}

#beasts {
    width: 85%;
    margin: 0 auto;
    font-family: "Klee-Medium";
}

#beasts p {
    line-height: 1.8em;
    letter-spacing: 0.6pt;
}

.beasts_en {
    font-family: "Daniel";
    transition:1.2s;
    margin-top: 2%;
    
}

.beasts_big {
    font-size: 30px;
    font-family: "Daniel";
    position: absolute;
    width: 100%;
    text-align: center;
    
}

#beasts img {
    float: left;
}

.niffler {
    position:relative;
    margin-top: 50px;
    height: 380px;
    
}

.niffler_a {
    transition: 1.2s;
}

.niffler .beasts_big {
    top:25%
}

.bowt {
    position:relative;
    height: 380px;
    
}

.bowt .beasts_big {
    top:15%;
}

.bowt_a {
    transition: 1.2s;
}

.occamy {
    position:relative;
    height: 380px;
    
}

.occamy .beasts_big {
    top:30%;
}

.occamy_a {
    transition: 1.2s;
}

.demiguise {
    position:relative;
    height: 380px;
    
}

.demiguise_a {
    transition: 1.2s;
}

.demiguise .beasts_big {
    top:24%;
}

.thunderbird {
    position:relative;
    height: 380px;
    
}

.thunderbird_a {
    transition: 1.2s;
}

.thunderbird .beasts_big {
    top:23%;
}

.mooncalf {
    position:relative;
    height: 380px;
   
}

.mooncalf_a {
     transition: 1.2s;
}

.mooncalf .beasts_big {
    top:30%;
}

.murtlap {
    position:relative;
    height: 380px;
    
}

.murtlap_a {
    transition: 1.2s;
}

.murtlap .beasts_big {
    top:24%;
}

.erumpent {
    position:relative;
    height: 380px;
    
}

.erumpent_a {
    transition: 1.2s;
}

.erumpent .beasts_big {
    top:15%;
}

.billywig {
    position:relative;
    height: 380px;
    
}

.billywig_a {
    transition: 1.2s;
}

.billywig .beasts_big {
    top:24%;
}

.graphorn {
    position:relative;
    height: 380px;
    
}

.graphorn_a {
    transition: 1.2s;
}

.graphorn .beasts_big {
    top:15%;
}

.swooping {
    position:relative;
    height: 380px;
    
}

.swooping_a {
    transition: 1.2s;
}

.swooping .beasts_big {
    top:18%;
}

.shoukai {
    margin-left: 50px;
    font-size: 18px;
}
